@import url('https://fonts.cdnfonts.com/css/pusab');
@import url('https://fonts.cdnfonts.com/css/picky-sway');
@import url('https://fonts.cdnfonts.com/css/varuna');
@import url('https://fonts.cdnfonts.com/css/ubuntu');


body {
  background: aqua;
  font-family: 'Picky Sway', sans-serif;;
}
p {
  color: black;
  font-family: 'varuna', sans-serif;
  font-size: 1em;
}
h1 {
  font-weight: bold;
  text-align: center;
  font-family: 'pusab', sans-serif;
  font-size: 3.5em;
}

h2 {
  font-weight: bold;
  text-align: center;
  font-family: 'picky sway', sans-serif;
  font-size: 2.15em;
}

.header {
  width: 50%;
  margin-left: 25%;
  border: solid 4px darkorange;
  border-radius: 10px;
}

.align-left {
  width: 25%;
  margin-right: 20px;
  float:left;
  margin-bottom: 10px;
  border: solid 4px darkorange;
  border-radius: 10px;
}

.align-right {
  width: 25%;
  margin-right: 20px;
  float:right;
  margin-bottom: 10px;
  border: solid 4px darkorange;
  border-radius: 10px;
}

hr {
  clear: both;
}

.itemtitle {
  font-family: 'ubuntu', sans-serif;
  font-weight: bold;
  font-size: 1.25em;
}

.leftAlign {
  float: left; 
}

.rightAlign {
  float: right; 
}

.disclaimer {
  font-family: Consolas;
  font-size: 10px;
  color: grey;
  text-align: center;
}
